/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* coupon Styling */
.wt-mycoupons ul li {
    box-sizing: border-box;
    display: inline-block;
    padding: 15px;
    width: 170px;
    min-height: 60px;
    margin-bottom: 15px;
    vertical-align: top;
    line-height: 1.4;
}   


.wt_coupon_wrapper{ width:100%; position:relative; flex-direction:row; flex-wrap:wrap; display:flex; justify-content:flex-start; margin-bottom:15px; gap:26px;  padding:15px 4px 4px 4px; }
.wt_coupon_wrapper .wt-single-coupon, .wt_coupon_wrapper .wt-sc-hidden-coupon-box{ width:30%; min-width:240px; margin:0px; flex:1 0 30%; }
.wt_coupon_wrapper .wt-sc-hidden-coupon-box{ content:""; visibility:hidden; }


.wt_sc_pagination{ width:100%; clear:both; margin-bottom:15px; text-align:right; }
.wt_sc_pagination .woocommerce-pagination{ display:inline-block; float:none; }
.wt_sc_available_coupon_sort_by{ float:right; font-size:14px; }
.wt_sc_bogo_cart_item_discount, .wt_sc_bogo_cart_item_discount *{ color:green; font-size:small; }